<!-- implement carouself later -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div layout=row>
	<div flex=50 style="padding:50px;">
		<h1><strong>Main Points</strong></h1>
		<p>Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Buzzwords Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
		<div style="margin-left:50px;">
			<p><strong><a href="https://github.com/Immington-Industries/way-cooler/releases">Install</a></strong></p>
			<p><strong><a href="#!/docs">Extend</a></strong></p/>
			<p><strong><a href="https://github.com/Immington-Industries/way-cooler">Contribute</a></strong></p>
		</div>
	</div>
	<md-tabs md-align-tabs="top" md-dynamic-height="true" flex=50>
		<md-tab label="1"><img src="/public/images/placeholder1.png"></md-tab>
		<md-tab label="2"><img src="/public/images/placeholder2.png"></md-tab>
		<md-tab label="3"><img src="/public/images/placeholder3.png"></md-tab>
		<md-tab label="4"><img src="/public/images/placeholder4.png"></md-tab>
		<md-tab label="5"><img src="/public/images/placeholder1.png"></md-tab>
		<md-tab label="6"><img src="/public/images/placeholder2.png"></md-tab>
		<md-tab label="7"><img src="/public/images/placeholder3.png"></md-tab>
		<md-tab label="8"><img src="/public/images/placeholder4.png"></md-tab>
		<md-tab label="9"><img src="/public/images/placeholder1.png"></md-tab>
		<md-tab label="10"><img src="/public/images/placeholder2.png"></md-tab>
		<md-tab label="11"><img src="/public/images/placeholder3.png"></md-tab>
		<md-tab label="12"><img src="/public/images/placeholder4.png"></md-tab>
	</md-tabs>
</div>

<hr><h2><strong>Way-Cooler main benefits...</strong></h2><br>

<div layout=row>
	<md-card flex=30 style="padding:20px; box-shadow: 2px 2px 2px 2px grey;">
		<h2>Extensibility</h2><br>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
	</md-card>

	<md-card flex=30 style="padding:20px; box-shadow: 2px 2px 2px 2px grey;">
		<h3>Configurability</h3><br>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p><br />
	</md-card>

	<md-card flex=30 style="padding:20px; box-shadow: 2px 2px 2px 2px grey;">
		<h3>Security</h3><br>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p><br />
	</md-card>
</div>

<br /><br /><hr>